/* form.css */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .parent {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .parent > div {
    margin-bottom: 10px;
  }
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .higlight{
    color: red;
  }