.App {
  text-align: center;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.Product img {
  max-width: 100px;
  max-height: 100px;
}
